    <!-- Carousel Start -->
<div class="container-fluid mb-3">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="innerC carousel-item position-relative active" >
            <%= image_tag "food_delicious.jpg", class: "image-cover position-absolute w-100 h-100" %>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" >
                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown"><%= t ".food_delicous" %></h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"><%= t ".food_describe" %></p>
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#"><%= t ".shop_now" %></a>
              </div>
            </div>
          </div>
          <div class="innerC carousel-item position-relative" >
            <%= image_tag "drink_delicous.jpg", class: "image-cover position-absolute w-100 h-100"%>
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" >
                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown"><%= t ".drink_wonderful" %></h1>
                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"><%= t ".drink_describe" %></p>
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#"><%= t ".shop_now" %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->
    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <%= render @products%>
                        <h1>sjkfajf</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3"><%= t ".recent" %></span></h2>
  <div class="row px-xl-5">
    <%= render @products%>
  </div>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<!-- Products End -->
