<tr>
  <td><%= order.id %></td>
  <td><%= order.name %></td>
  <td><%= order.phone_num %></td>
  <td><%= order.address %></td>
  <td><%= order.note %></td>
  <td><%= order.status %></td>
  <td><%=number_to_currency order.total_money %></td>
  <td><%= order.created_at %></td>
  <td>
    <div class="action-btn">
      <%= link_to admin_order_path(order) do %>
        <span class="fa fa-info-circle"></span>
      <% end %>
    </div>
  </td>
</tr>
