<div class="container">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="form-section">
      <div class="col-3">
        <%= f.search_field :name_or_address_or_note_cont, placeholder: t(".field_search") %>
      </div>
      <div class="col-3">
        <%= f.label :status_eq, t(".status") %>
        <%= f.select :status_eq, Order.statuses.keys, include_blank: true , class: "form-control" %>
      </div>
      <div class="col-3">
        <%= f.number_field :total_money_gteq, placeholder: t(".min_price") %>
      </div>
      <div class="col-3">
        <%= f.number_field :total_money_lteq, placeholder: t(".max_price") %>
      </div>
    </div>
    <div class="form-section">
      <div class="col-3">
        <%= f.label :created_at_date_gteq, t(".start_date") %>
        <%= f.date_field :created_at_date_gteq %>
      </div>
      <div class="col-3">
        <%= f.label :created_at_date_lteq, t(".end_date") %>
        <%= f.date_field :created_at_date_lteq %>
      </div>
    </div>
    <%= link_to request.path, class: "btn btn-small btn-warning" do %>
      <i class="fa fa-undo icon-l"></i><%= t ".Clear_all" %>
    <% end %>
    <%= f.submit t(".search"), class: "btn btn-small btn-info" %>
  <% end %>
</div>
