<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="account-manage-page">
    <table class="rwd-table">
      <thead>
        <tr>
          <th><%= t ".code" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".phone" %></th>
          <th><%= t ".address" %></th>
          <th><%= t ".note" %></th>
          <th><%= t ".status" %></th>
          <th><%= t ".total" %></th>
          <th><%= t ".create" %></th>
          <th><%= t ".info" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @orders %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
