<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="account-manage-page">
    <% unless @order.canceled? %>
      <%= form_for [:admin,@order] do |f| %>
        <%= f.select :status, Order.statuses.keys , class: "form-control"%>
        <%= f.submit "Change status", class: "btn btn-primary " %>
      <% end %>
    <% else %>
      <p><%= @order.reason %></p>
    <% end %>
    <table class="rwd-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Number</th>
          <th>Size</th>
          <th>Prices</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "order_detail", collection: @order_details %>
      </tbody>
    </table>
  </div>
</div>
