<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="account-manage-page">
    <table class="rwd-table">
      <thead>
        <tr>
          <th><%= t ".image" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".number" %></th>
          <th><%= t ".size" %></th>
          <th><%= t ".price" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "order_detail", collection: @order_details %>
      </tbody>
    </table>
  </div>
</div>
