<tr>
  <td class="align-middle"><%= image_tag order_detail.product_size.product.image, style: "width: 50px;" %></td>
  <td class="align-middle"><%= order_detail.product_size.product.name %></td>
  <td class="align-middle"><%= order_detail.num %></td>
  <td class="align-middle"><%= order_detail.product_size.size.size %></td>
  <td class="align-middle"><%= number_to_currency order_detail.price %></td>
</tr>
