<tr>
  <td class="align-middle"><%= order.id %></td>
  <td class="align-middle"><%= order.name %></td>
  <td class="align-middle"><%= number_to_currency order.total_money %></td>
  <td class="align-middle"><%= order.created_at.strftime("%d/%m/%Y") %></td>
  <td class="align-middle"><%= order.status %></td>
  <td class="align-middle">
    <%= link_to order_path(order) do %>
      <button class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
    <% end %>
  </td>
</tr>
