<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="account-manage-page">
  <%= link_to "New Product", new_admin_category_path, class: "btn btn-small btn-success"%>
    <table class="rwd-table">
      <thead>
        <tr>
          <th>Ma</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td>
              <div class="action-btn">
                <%= link_to edit_admin_category_path(category) do %>
                  <span class="fa fa-edit"></span>
                <% end %>
                <%= link_to admin_category_path(category), method: :delete, data: { confirm: "Bạn có chắc là muốn xóa không?" } do %>
                  <span class="fa fa-trash"></span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
