<%= form_for [:admin, @product] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <%= f.label :name, t(".name") %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :unit_price, t(".unit_price") %>
  <%= f.text_field :unit_price, class: "form-control" %>
  <%= f.label :description, t(".description") %>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.label :quantity, t(".quantity") %>
  <%= f.text_field :quantity, class: "form-control" %>
  <%= f.label :category_id, t(".category") %>
  <%= f.collection_select( :category_id, @categories, :id, :name,
                         include_blank: false ,
                         class: "form form-control") %>
  <%= f.label :size, t(".size") %>
  <%= f.collection_check_boxes( :size_ids, Size.all, :id, :size) do  |b| %>
    <%= b.check_box %>
    <%= b.label %>
  <% end %>
  <span class="image">
    <%= f.file_field :image %>
  </span>
  <%= f.submit yield(:button_text), class: "submit-btn" %>
<% end %>
