<tr>
  <td><%= image_tag product.image, style: "width: 50px;"%></td>
  <td><%= product.name %></td>
  <td><%= number_to_currency product.unit_price %></td>
  <td><%= product.quantity %></td>
  <td><%= get_all_size product %></td>
  <td><%= product.created_at %></td>
  <td>
    <div class="action-btn">
      <%= link_to edit_admin_product_path(product) do %>
        <span class="fa fa-edit"></span>
      <% end %>
      <%= link_to admin_product_path(product), method: :delete, data: { confirm: "Bạn có chắc là muốn xóa không?" } do %>
        <span class="fa fa-trash"></span>
      <% end %>
    </div>
  </td>
</tr>
