<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="account-manage-page">
    <%= link_to t(".new"), new_admin_product_path, class: "btn btn-small btn-success"%>
    <table class="rwd-table">
      <thead>
        <tr>
          <th><%= t ".image" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".unit_price" %></th>
          <th><%= t ".quantity" %></th>
          <th><%= t ".size" %></th>
          <th><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody>
        <% if @products.present? %>
          <%= render @products %>
        <% else %>
          <h1><%= t ".not_product" %></h1>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) if @products.present? %>
  </div>
</div>
