<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
  <div class="product-item bg-light mb-4">
    <div class="product-img position-relative overflow-hidden">
      <%= image_tag product.image, class: "img-fluid w-100" %>
      <div class="product-action">
        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
        <%= link_to product_path(product), class:  "btn btn-outline-dark btn-square"  do %>
          <span class="fa fa-search"></span>
        <% end %>
      </div>
    </div>
    <div class="text-center py-4">
      <a class="h6 text-decoration-none text-truncate" href=""><%= t ".product_name" %></a>
      <div class="d-flex align-items-center justify-content-center mt-2">
        <h5><%=number_to_currency product.unit_price %></h5>
        <h6 class="text-muted ml-2"><del><%=number_to_currency product.unit_price %></del></h6>
        <h1><%= product.product_sizes.size%></h1>
      </div>
    </div>
  </div>
</div>
