  <!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <%= render "products/search" %>
    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><%= t ".lastest"%></a>
                  <a class="dropdown-item" href="#"><%= t ".popular"%></a>
                  <a class="dropdown-item" href="#"><%= t ".best_rating"%></a>
                </div>
              </div>
              <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><%= Settings.view.products.index.num_small %></a>
                  <a class="dropdown-item" href="#"><%= Settings.view.products.index.num_medium %></a>
                  <a class="dropdown-item" href="#"><%= Settings.view.products.index.num_big %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render @products %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
      <!-- Shop Product End -->
    </div>
  </div>
  <!-- Shop End -->
