  <!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <%= render "products/search" %>
    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown"><%= t ".sort" %></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= button_to t(".lastest"), products_path, method: :get, params: {sort: :lastest}, class: "dropdown-item", id: "orderNew" %>
                  <%= button_to t(".asc"), products_path, method: :get, params: {sort: :asc_name}, class: "dropdown-item", id: "order A-Z" %>
                  <%= button_to t(".desc"), products_path, method: :get, params: {sort: :desc_name}, class: "dropdown-item", id: "order Z-A" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render @products %>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
      <!-- Shop Product End -->
    </div>
  </div>
  <!-- Shop End -->
