  <!-- Shop Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4">
      <!-- Price Start -->
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= t ".filter_price"%></span></h5>
      <div class="bg-light p-4 mb-30">
        <form>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="price-all">
            <label class="custom-control-label" for="price-all">All Price</label>
            <span class="badge border font-weight-normal">1000</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="price-1">
            <label class="custom-control-label" for="price-1">$0 - $100</label>
            <span class="badge border font-weight-normal">150</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="price-2">
            <label class="custom-control-label" for="price-2">$100 - $200</label>
            <span class="badge border font-weight-normal">295</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="price-3">
            <label class="custom-control-label" for="price-3">$200 - $300</label>
            <span class="badge border font-weight-normal">246</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="price-4">
            <label class="custom-control-label" for="price-4">$300 - $400</label>
            <span class="badge border font-weight-normal">145</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="checkbox" class="custom-control-input" id="price-5">
            <label class="custom-control-label" for="price-5">$400 - $500</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
        </form>
      </div>
      <!-- Price End -->
      <!-- Size Start -->
      <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= t ".filter_size"%></span></h5>
      <div class="bg-light p-4 mb-30">
        <form>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="size-all">
            <label class="custom-control-label" for="size-all">All Size</label>
            <span class="badge border font-weight-normal">1000</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-1">
            <label class="custom-control-label" for="size-1">XS</label>
            <span class="badge border font-weight-normal">150</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-2">
            <label class="custom-control-label" for="size-2">S</label>
            <span class="badge border font-weight-normal">295</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-3">
            <label class="custom-control-label" for="size-3">M</label>
            <span class="badge border font-weight-normal">246</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="size-4">
            <label class="custom-control-label" for="size-4">L</label>
            <span class="badge border font-weight-normal">145</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="checkbox" class="custom-control-input" id="size-5">
            <label class="custom-control-label" for="size-5">XL</label>
            <span class="badge border font-weight-normal">168</span>
          </div>
        </form>
      </div>
      <!-- Size End -->
    </div>
    <!-- Shop Sidebar End -->
    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <div class="ml-2">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><%= t ".lastest"%></a>
                  <a class="dropdown-item" href="#"><%= t ".popular"%></a>
                  <a class="dropdown-item" href="#"><%= t ".best_rating"%></a>
                </div>
              </div>
              <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><%= Settings.view.products.index.num_small %></a>
                  <a class="dropdown-item" href="#"><%= Settings.view.products.index.num_medium %></a>
                  <a class="dropdown-item" href="#"><%= Settings.view.products.index.num_big %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render @products%>
      </div>
      <%== pagy_bootstrap_nav(@pagy) %>
      <!-- Shop Product End -->
    </div>
  </div>
  <!-- Shop End -->
