<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application_admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application_admin", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="admin-page">
        <div> <%= render "admin/static_pages/sidebar" %> </div>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
